body {
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.isVisible {
  display: none;
}

.marker {
  background-color: green;
  color: #4caf50;
}

.leaflet-container {
  width: 80%;
  height: 100vh;
  background-color: black;
}

/* RIGHT PANEL CSS */

.rightPanel {
  width: 20%;
  height: 100vh;
  float: right;
  background-color: #f2f2f2;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.task {
  background-color: white;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.placeTOfind {
  font-size: 20px;
  margin: 10px;
}

.correct-bar {
  /*background-color: #4CAF50;*/
  width: 100%;
  height: 5px;
}

.btn-primary {
  background-color: rgb(33, 159, 213);
  border: none;
  color: white;
  border-radius: 15px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 0px;
}
