body {
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.leaflet-container{
  width: 80%;
  height: 100vh;
}

.rightPanel {
  width: 20%;
}